
# --- SMTP (used to send OTP codes) ---

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=fitpassindia.workplace@gmail.com
SMTP_PASS=ccmw mddq pynn yqhp
SMTP_FROM=FitPassIndia <your-gmail-address@gmail.com>

# --- Auth ---

JWT_SECRET=x82wNAWjxM8z5Fjm8r5Qxc2DxaLXfGQDzQUJ3XUb
# --- Razorpay ---

RAZORPAY_KEY_ID=rzp_live_TJTjO0SLnreKaY
RAZORPAY_KEY_SECRET=8WhPBFPleUedPVUOXMCrrMXo
PORT=3000
